.navbar {
  padding: 0 1rem;
  align-items: stretch;

  .brand-title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    color: #5e5e5e;
    height: 50px;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .nav-menu {
    margin-right: auto;
  }

  .navbar-collapse {
    align-items: stretch;

    .nav-menu {
      align-items: stretch;
      font-size: 14px;
    }

    .dropdown {
      display: flex;
      flex-wrap: wrap;

      &.show {
        .custom-navlink {
          color: #0287d0;
          background-color: #f1f5f8;
        }
      }

      .dropdown-menu {
        font-size: 14px;
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #f1f5f8;
        border-top-color: #e7eef3;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
        color: #0287d0;

        .dropdown-item {
          color: #3a83b0;
          padding: 3px 20px;
          line-height: 1.42857143;

          &:hover,
          &.active,
          &:active {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
            background-color: #489FDC;
            color: #fff;
          }
        }
      }
    }

    .custom-navlink {
      color: #0287d0;
      padding: 15px;
      line-height: 20px;
      text-decoration: none;
      width: 100%;

      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
        color: #0287d0;
        border-radius: 2px;
      }

      &.active {
        color: #fff;
        background-color: #279CDC;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
        border-radius: 2px;
      }
    }

    .profile-dropdown {
      color: #39464E !important;
      font-size: 14px;

      &+ .dropdown-menu {
        color: #39464e;

        .dropdown-item {
          display: flex;
          align-items: center;
          color: #39464e;

          svg {
            fill: #39464e;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.profile-title {
  .svg-icon {
    margin-right: 5px;
  }

  .light-text {
    margin-left: 5px;
    color: #A6A6A6;
  }
}
